.navheader {
    font-family: fairwater-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-size: 1.25em;
}

h3 {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
    margin-top: 25px;
}

h4 {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.navfooter {
    font-family: fairwater-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}