.navheader {
    font-family: fairwater-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-size: 1.25em;
}

h3 {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.8em;
    margin-top: 25px;
}

h4 {
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(201, 201, 201);
    margin-top: -55px;
    font-size: 2em;
}

.navfooter {
    font-family: fairwater-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
}

.frame-area {
    display: block;
    width: 100%; 
    height: 100%;
    position: relative;
    max-width: 1400px;
    height: 800px;
    overflow: auto; 
    border: #999999 1px solid;
    margin: 0px;
    padding: 0px;
    }

.videoIntro {
    position: relative;
    padding-bottom: 56.25%;
    padding: 50%;
    }

.videoIntro iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }